.chapter-card {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #DBDBDB;
    border-radius: 16px;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 948px;
    margin: 16px;
}

.chapter-card.onSelected {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #E66041;
    border-radius: 16px;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 948px;
    margin: 16px;
}

.chapter-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-container {
    width: 100%;
    height: 56px;
    border-radius: 16px 16px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
}

.card-container.onSelected {
    width: 100%;
    height: 56px;
    border-radius: 16px 16px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(230, 96, 65, 0.1);
}

.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 16px;
  }

.chapter-image {
    width: auto;
    height: 32px;
    object-fit: cover;
    margin-right: 16px;
}

.chapter-title {
    font-size: 16px;
    font-weight: 700;
    color: #555555;
}
.chapter-title.onSelected {
    font-size: 16px;
    font-weight: 700;
    color: #E66041;
}

.chapter-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 16px;
    height: 60px;
}

.chapter-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tag-box {
    background-color: #fff;
    border: 1px solid #555555;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
}

.tag-box.onSelected {
    background-color: #E66041;
    border: 1px solid #E66041;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
}