.error-page {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.error-text-container {
    margin-top: 125px;
}

.error-text-title {
    font-size: 24px;
    font-weight: 700;
}

.error-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 7px;
    color: #565656;
}

.error-logo {
    width: 200px;
    height: auto;
    margin-top: 45px;
}