.grammar-toast-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 80px; /* 화면 하단과의 간격 */
    z-index: 1000; /* 다른 요소들 위에 표시되도록 z-index 설정 */
}
.grammar-toast {
    display: inline-flex; /* inline-flex로 변경 */
    height: 33px;
    background-color: #333333; 
    border-radius: 26px;
    padding: 8px 16px;
    animation: fadeInOut 2s forwards;
}
.grammar-toast-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    font-weight: 400;
    color: #DBDBDB;
}
/* 페이드 인 후 페이드 아웃 애니메이션 */
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}