@font-face {
	font-family: 'SUIT';
	font-weight: 100;
	src: url('/fonts/SUIT-Thin.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 200;
	src: url('/fonts/SUIT-ExtraLight.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 300;
	src: url('/fonts/SUIT-Light.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 400;
	src: url('/fonts/SUIT-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 500;
	src: url('/fonts/SUIT-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 600;
	src: url('/fonts/SUIT-SemiBold.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 700;
	src: url('/fonts/SUIT-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 800;
	src: url('/fonts/SUIT-ExtraBold.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 900;
	src: url('/fonts/SUIT-Heavy.woff2') format('woff2');
}
:root {
  --vh: 1vh;
  --max-content-width: 900px;  
}

body {
  height: auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'SUIT';
  background-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #__next {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.app-container {
  width: 100%;
  max-width: var(--max-content-width);
  margin: 0 auto;
}


.header {
  flex: 0 0 48px; 
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  padding: 9px 17px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.main-content {
  flex: 1; 
  display: flex;
  flex-direction: column;
  overflow: auto; 
}


@media (max-width: 1140px) {
  
}
