.test-page {
    position: relative;
    min-height: 100vh;
}
.next-button-container {
    position: fixed;
    right: 16px;
    bottom: 84px;
    z-index: 1;
    width: 108px;
    height: 44px;
}

.next-button-container .next-button-test {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: #E66041;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.next-button-container .next-button-test:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.next-button-test {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: #E66041;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.next-button-test span {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 16px;
    font-weight: 700;
}

.submit-icon {
    margin-left: 8px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}