.youtube-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 비율 */
    padding-top: 25px;
    margin: 16px 0px;
    height: 0;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.youtube-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 6px;
}